#login {
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
}

#login h1 {
    width: 99px;
    height: 72px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
}

#login h2 {
    width: 223px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: left;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
}

#login .sobre p {
    width: 789px;
    height: 110px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
}

#login #formularioLogin {
    width: 450px;
    height: 482px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding: 8px 32px;
    gap: 16px;
    position: absolute;
    left: calc(50% - 450px/2 + 475px);
    top: calc(50% - 482px/2);
    background: #1A1A1B;
}

.cadastro {
    width: 386px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    flex: none;
    flex-grow: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
}

.sobre {
    width: 789px;
    height: 556px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    position: absolute;
    left: calc(50% - 789px/2 - 468.5px);
    top: calc(50% - 556px/2);
}